<div class="h-full flex flex-col">
  <br>
  <vex-scrollbar [ngSwitch]="view" class="px-0 shadow flex-auto relative" vexContainer>
    <mwl-calendar-month-view
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      *ngSwitchCase="'month'"
      [activeDayIsOpen]="activeDayIsOpen"
      [events]="events"
      [refresh]="refresh"
      [viewDate]="viewDate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      *ngSwitchCase="'week'"
      [events]="events"
      [refresh]="refresh"
      [viewDate]="viewDate">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      *ngSwitchCase="'day'"
      [events]="events"
      [refresh]="refresh"
      [viewDate]="viewDate">
    </mwl-calendar-day-view>
  </vex-scrollbar>
</div>
